[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "chronochrt"]
	path = chronochrt
	url = https://gitlab.com/archaeothommy/chronochrt
